<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Order Form</h1>
    <div class="userLoginForm">
        <form>
            <fieldset>
                <legend>Order Form</legend>
                {% for product in products %}
                    <div class="productInAllBuy">
                        <span class="productNameInAllBuy" title="no.of products you want to buy">{{ product.name }}</span>
                        <span class="productPrice" title="no.of products you want to buy">{{ product.price}}</span>
                        <span class="productPrice" title="no.of products you want to buy">/{{product.quantity_type }}</span>
                        <label for="noOfProducts" title="no.of products you want to buy">No.of Units: </label>
                        <input class="productNoOfProducts" type="number" min="0" name="{{product.id}}" id="noOfProducts" required title="no.of products you want to buy">
                    </div><br>
                    {% endfor %}
                    <label for="address">Address: </label>
                    <input type="text" name="address" id="address" required><br>
                <span>
                    <input style="margin-left: 250px;" class="anchorButtonEmpty" type="submit" value="Order"> <br><br> <span style="margin-left: 280px;">OR</span> <br><br>
                    <div class="totalCost">
                        <a href="#">Total Cost</a>
                    </div>
                </span>
            </fieldset>
        </form>
    </div>
</body>
</html>