<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Order</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Order Form</h1>
    <div class="userLoginForm">
        <form action="" method="POST">
            <fieldset>
                <legend>Order Form</legend>
                {% for product in products %}
                    <div class="productInAllBuy">
                        <span class="productNameInAllBuy" title="no.of products you want to buy">{{ product.name }}</span>
                        <span class="productPrice" title="no.of products you want to buy">{{ product.price}}</span>
                        <span class="productPrice" title="no.of products you want to buy">/{{product.quantity_type }}</span>
                    </div><br>
                {% endfor %}
                <span>{{ totalCost }}</span>
                <span>
                    <input style="margin-left: 250px;" class="anchorButtonEmpty" type="submit" value="Order">
                </span>
            </fieldset>
        </form>
    </div>
</body>
</html>