<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit All Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="indexContainer">
        <h1>{{username}}'s | Dashboard</h1>
        <span>
        <a class="summery" href="/">Summary</a>
        <a class="logout" href="/">Logout</a>
        </span>
    </div>
    <hr>
    <div class="adminClass2">
        {% if products|length == 0 %}
            <h1>No products Created Yet!</h1>
            <div class="addButton" title="Click to Add Product">
                <a href="/addProduct/{{username}}">Add New Product</a>
            </div>
        {%else%}
        <div style="display: flex;align-items: flex-end;justify-content: space-between;">
            <div style="font-size: xxx-large;font-family: cursive;color: var(--purple);text-decoration:underline;">All Products</div>
            <div class="addButton" title="Click to Add Product to Database">
                <a href="/addProduct/{{username}}">Add New Product</a>
            </div>
            <div class="addButton" title="Click to go Dashboard">
                <a href="/admin_dashboard/{{username}}">Go to Dashboard</a>
            </div>
        </div>
            <div class="editAllProducts" style="margin-top: 20px;border: 2px solid var(--primary);">
                {% for product in products %}
                    <div class="product">
                        <span class="productName">{{ product.name }}</span><br><br><br><br>
                        <span class="productPrice">{{ product.price }}</span>Rs/
                        <span class="productQuantityType">{{product.quantity_type }}</span><br><br><br>
                        <div class="buttons">
                            <a class="edit" href="/editProduct/{{username}}/{{product.id}}" title="Click to edit this Product">Edit</a>
                            <a class="delete" href="/deleteProduct/{{username}}/{{product.id}}" title="Click to delete product from this Database">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>