:root{
    --primary:#39d8de;
    --secondary: #dea337;
    --ternary:#808080;
    --pure:#ffffff;
    --purple: #e12ee1;
}
h1{
    color: var(--primary);
}
body{
    font-family: 'Poppins',sans-serif
}

/* utilities starts */
.anchorButton{
    background-color: var(--secondary);
    color: var(--pure);
    text-decoration: none;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.anchorButton:hover{
    color: var(--secondary);
    background-color: var(--pure);
    transition-delay: 100ms;
    border: 1px solid var(--secondary);
}
.anchorButtonEmpty{
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--pure);
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.anchorButtonEmpty:hover{
    background-color: var(--secondary);
    color: var(--pure);
    transition-delay: 100ms;
}
.addButton{
    margin-top: 40px;
    margin-left: 40px;
}
.addButton a{
    text-decoration: none;
    border: 2px solid var(--primary);
    font-size: xxx-large;
    border-radius: 13px;
    padding: 10px;
}
.addButton a:hover{
    background-color: var(--primary);
    color: var(--pure);
}
.buttonBar{
    display: flex;
    margin-bottom: 50px;
}
/* utilities ends */


/* index file styling starts */
.indexContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

.indexContainer .admin{
    text-decoration: none;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}

.indexContainer .admin:hover{
    background-color: var(--secondary);
    color: var(--pure);
    transition-delay: 100ms;
}
.indexContainer .user{
    background-color: var(--secondary);
    color: var(--pure);
    text-decoration: none;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.indexContainer .user:hover{
    color: var(--secondary);
    background-color: var(--pure);
    transition-delay: 100ms;
    border: 1px solid var(--secondary);
}
/* index file styling ends */

/* adminLoginForm styling starts */
.adminLoginForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* adminLoginForm styling ends */

/* userLoginForm styling starts */
.userLoginForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.userLoginForm fieldset{
    padding: 50px;
}
.userLoginForm a{
    margin-left: 30%;
}
/* userLoginForm styling ends */


/* adminDashboard.html  starts */
.adminClass2 .plus a{
    border: 2px solid rgb(2, 72, 132);
    border-radius: 35%;
    padding: 30px;
    margin-top: 10px;
    text-decoration: none;
}
.adminClass2 .plus a:hover{
    color: white;
    background-color: rgb(2, 72, 132);
}
.adminClass2 .categories .category{
    border: 2px solid var(--primary);
    margin: 10px;
}
.adminClass2 .categories .category .product{
    display: inline-block;
    border: 2px solid var(--secondary);
    margin: 10px;
    height: 200px;
    width: 200px;
}
.addCategory{
    text-decoration: none;
}
/* adminDashboard.html  ends */

/* index.html starts */
.display .categories .category{
    border: 1px solid black;
    border-radius: 10%;
}
/* index.html ends */

/* addCategory starts */
.addCategory{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* addCategory ends */