:root{
    --primary:#39d8de;
    --secondary: #dea337;
    --ternary:#808080;
    --pure:#ffffff;
    --purple: #e12ee1;
}
h1{
    color: var(--primary);
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 30px;
}

/* utilities starts */
.anchorButton{
    background-color: var(--secondary);
    color: var(--pure);
    text-decoration: none;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.anchorButton:hover{
    color: var(--secondary);
    background-color: var(--pure);
    transition-delay: 100ms;
    border: 1px solid var(--secondary);
}
.anchorButtonEmpty{
    text-decoration: none;
    color: var(--secondary);
    background-color: var(--pure);
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.anchorButtonEmpty:hover{
    background-color: var(--secondary);
    color: var(--pure);
    transition-delay: 100ms;
}
.addButton{
    margin-top: 40px;
    margin-left: 40px;
}
.addButton a{
    text-decoration: none;
    border: 2px solid var(--primary);
    font-size: x-large;
    border-radius: 13px;
    padding: 10px;
}
.addButton a:hover{
    background-color: var(--primary);
    color: var(--pure);
}
.buttonBar{
    display: flex;
    margin-bottom: 50px;
}
.categoryName{
    font-size: xx-large;
    font-family: system-ui;
    color: var(--purple);
    text-decoration: underline;
}
/* utilities ends */


/* index file styling starts */
.indexContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

.indexContainer .admin, .indexButtonBar .admin{
    text-decoration: none;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}

.indexContainer .admin:hover, .indexButtonBar .admin:hover{
    background-color: var(--secondary);
    color: var(--pure);
    transition-delay: 100ms;
}
.indexContainer .user, .indexButtonBar .user{
    background-color: var(--secondary);
    color: var(--pure);
    text-decoration: none;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.indexContainer .user:hover, .indexButtonBar .user:hover{
    color: var(--secondary);
    background-color: var(--pure);
    transition-delay: 100ms;
    border: 1px solid var(--secondary);
}
.indexButtonBar{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.userBuy{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.userBuy a{
    text-decoration: none;
    border: 2px solid var(--purple);
    font-size: smaller;
    font-family: cursive;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    color: var(--purple);
}
/* index file styling ends */

/* adminLoginForm styling starts */
.adminLoginForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* adminLoginForm styling ends */

/* userLoginForm styling starts */
.userLoginForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.userLoginForm fieldset{
    padding: 50px;
}
.userLoginForm a{
    margin-left: 30%;
}
/* userLoginForm styling ends */


/* adminDashboard.html  starts */
#forStyle{
    margin-top: 70px;
}
.categoryButtonBar{
    display: flex;
}
.categoryDelete{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.categoryDelete .toDeleteCategory{
    text-decoration: none;
    border: 2px solid var(--primary);
    font-size: smaller;
    border-radius: 13px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
}
.categoryDelete .toDeleteCategory:hover{
    background-color: var(--primary);
    cursor: pointer;
}
.categoryDelete .a{
    text-decoration: none;
    color: var(--ternary);
}
.adminClass2 .plus a{
    border: 2px solid rgb(2, 72, 132);
    border-radius: 35%;
    padding: 30px;
    margin-top: 10px;
    text-decoration: none;
}
.adminClass2 .plus a:hover{
    color: white;
    background-color: rgb(2, 72, 132);
}
.adminClass2 .categories .category{
    border: 2px solid var(--primary);
    margin: 10px;
    border-radius: 20px;
    background-color: lightgrey;
}
.adminClass2 .categories .category .product, .editAllProducts .product{
    display: inline-block;
    border: 2px solid var(--secondary);
    border-radius: 20px;
    margin: 17px;
    height: 196px;
    width: 248px;
    background-color: var(--pure);
}
.addCategory{
    text-decoration: none;
}
.indexContainer .summery{
    text-decoration: none;
    color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.indexContainer .summery:hover{
    background-color: var(--secondary);
    color: var(--pure);
    transition-delay: 100ms;
}
.indexContainer .logout{
    background-color: var(--secondary);
    color: var(--pure);
    text-decoration: none;
    border: 1px solid var(--secondary);
    border-radius: 25px;
    padding: 9px 21px;
}
.indexContainer .logout:hover{
    color: var(--secondary);
    background-color: var(--pure);
    transition-delay: 100ms;
    border: 1px solid var(--secondary);
}
.product{
    text-align: center;
}
.product .productName{
    font-size: x-large;
    font-family: cursive;
    margin-left: 9px;
}
.product .edit, .product .delete{
    text-decoration: none;
    border: 2px solid var(--purple);
    font-size: smaller;
    font-family: cursive;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    color: var(--purple);
}
.product .edit:hover, .product .delete:hover{
    background-color: var(--purple);
    color: var(--pure);
    cursor: pointer;
}
/* adminDashboard.html  ends */

/* index.html starts */
.display .categories .category{
    border: 1px solid black;
    border-radius: 10%;
}
/* index.html ends */

/* addCategory starts */
.addCategory{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* addCategory ends */